@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: black;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #646464;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #646464;
    border-bottom: 3px solid #646464;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #646464;
        border-bottom: 3px solid #646464;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #646464;
    }
}

.timeline:before {
content: '';
position: absolute;
top: 0;
left: 20px;
width: 2px;
height: 100%;
}

.timeline-item {
    position: relative;
    margin-bottom: 3rem;
    padding-left: 50px
}

.timeline-item:before {
content: '';
position: absolute;
top: 5;
left: 10px;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: var(--pridmary-color);
z-index: 1;
}

.timeline-content {
    background-color: #0c0c0c;
    padding: 1.5rem;
    border-radius: 10px;
    border-left: 3px solid var(--primardy-color);
    font-size: 1.8rem;
}

.date {
    display: block;
    padding: .3rem 1.2rem;
    background-color: rgba(54, 54, 54, 0.473);
    color: #646464;
    border-radius: 20px;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.timeline-content h2 {
   text-align: center;
}

.timeline-content h3 {
    margin-bottom: 1.6rem;
    font: 10.3rem;
}

.timeline-content h4 {
    color: var(--gray-text);
    margin-bottom: 1rem;
    font-size: 20rem;
    font-weight: 2000;
}

img {
margin-left: auto;
margin-right: auto;
height: 500px;
display: block;
border-radius: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1.7rem;
    margin-top: .8rem;
}

.skills li {
    font-size: 1.3rem;
    padding: .3rem .8rem;
    background-color: #161616;
    border-radius: 20px;
}

.project.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px 1fr));
    gap: 2rem
}

.project-card {
    background-color: crimson;
    border-radius: 150px;
    overflow: hidden;
    transition: var(--transition);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-img img {
    transition: var(--transition);
    width: 300%;
}

.project-card:hover .project-img img {
    transform: scale(1.05);
}

.project-info {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-info h3 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.project-info p {
color: white;
margin-bottom: 1rem;
font-size: 1.8rem;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
}

.project-links {
    display: flex;
    gap:1rem;
}

.project-links a {
    font-size: 20rem;
    color: #646464;
    transition: (--transition);
}

.project-links a:hover {
    color: #646464;
}